body{
    background-color: black;
    color: white;
}

div#container{
    width: 720px;
    height: 720px;
    margin: auto;
}

div.field{
    width: 240px;
    height: 240px;
    background-color: gray;
    float: left;
    outline: solid 10px rgb(50, 50, 50);
    cursor: pointer;
    text-align: center;
}

h1#header{
    color: white;
    text-align: center;
    font-size: 60px;
}

span.sign{
    color: purple;
}

img.signImg{
    width: 240px;
    height: 240px;
}